* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* variables */

 :root {
    --main-color: #19c8fa;
    --secondary-color: rgb(15 116 143 / 70%);
    --third-color: #7c7e82
}


/* contaienr for all elements */

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* small */

@media(min-width:768px) {
    .container {
        width: 750px;
    }
}


/* medium */

@media(min-width:992px) {
    .container {
        width: 970px;
    }
}


/* large */

@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.header {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97.1px;
}

.header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    bottom: 0;
    left: 15px;
    background-color: #a2a2a2;
    z-index: 1;
}

.header .container img {
    height: 40px;
}

.header .container nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.header .container .toggle {
    color: #fff;
    font-size: 25px;
}

@media(min-width:768px) {
    .header .container .toggle {
        display: none;
    }
}

.header .container nav ul {
    display: flex;
    list-style: none;
}

@media(max-width:767px) {
    .header .container nav ul {
        display: none;
    }
    .header .container nav:hover ul {
        display: block;
    }
}

.header nav ul li a {
    padding: 40px 10px;
    display: block;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    z-index: 2;
}

.header nav ul li a:hover,
.header nav ul li a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.icon {
    width: 40px;
    height: 30px;
    position: relative;
    border-left: 1px solid #fff;
    margin-left: 30px;
}

.icon i {
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    right: 0;
}

.landing {
    background-image: url(../images/landing.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* start section 1 */

.landing .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 /62%);
}

.landing .content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    width: 50%;
    padding: 50px;
    background-color: var(--secondary-color);
    opacity: 0.9;
    display: flex;
    justify-content: flex-end;
}

.landing .text {
    max-width: 500px;
}

@media (max-width:767px) {
    .landing .content {
        width: 100%
    }
    .change-angle {
        display: none;
    }
    .landing .text {
        max-width: 100%;
    }
}

.landing .text h2 {
    font-weight: normal;
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: -24px;
}

.landing .text p {
    line-height: 1.9;
    font-weight: normal;
    font-size: 14px;
}

.landing .change-angle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: 10px;
    list-style: none;
}

.landing .bullets .active {
    background-color: var(--main-color);
}


/* section 2 */


/* Global Header */

section {
    padding-bottom: 60px;
}

section .special-header {
    text-align: center;
}

section .line {
    position: relative;
    border: 1px solid #000;
    width: 12%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
}

section .line span {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section .special-header h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: normal;
}

section .special-header h2,
p {
    padding: 30px 0;
}

section .special-header p {
    line-height: 2;
    color: var(--third-color);
    margin-bottom: 50px;
}


/* end Global header */

.our-services .first {
    display: flex;
    justify-content: center;
}

.our-services .first h3 {
    display: block;
    color: var(--main-color);
}

.our-services .first p {
    color: var(--third-color)
}

.our-services i {
    width: 240px;
    font-size: 45px;
}

@media (min-width:768px) {
    .our-services {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        column-gap: 50px;
    }
}

@media (max-width:768px) {
    section:nth-of-type(2) .our-services .first {
        flex-direction: column;
    }
    section:nth-of-type(2) .our-services {
        text-align: center;
    }
    section:nth-of-type(2) .our-services .first {
        flex-direction: column;
        align-items: center;
    }
    section:nth-of-type(2) .our-services .first i {
        margin-bottom: 20px;
    }
    section .line {
        min-width: 30%;
    }
}


/* section 3 */

section:nth-of-type(3) {
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    overflow: hidden;
}

section:nth-of-type(3)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /62%);
    top: 0;
    left: 0;
}

section:nth-of-type(3) .image,
section:nth-of-type(3) .text {
    position: relative;
    z-index: 2;
}

section:nth-of-type(3) .image img {
    position: relative;
    bottom: -193px;
    left: 190px;
}

section:nth-of-type(3) .all {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #fff;
    width: 50%;
    padding: 50px;
    background-color: var(--secondary-color);
    opacity: 0.9;
    display: flex;
    z-index: 4;
}

section:nth-of-type(3) .all .text {
    max-width: 500px;
}

@media (max-width:767px) {
    section:nth-of-type(3) .all {
        width: 100%;
    }
    section:nth-of-type(3) .all .text {
        width: 100%
    }
    section:nth-of-type(3) .text h2 {
        text-transform: capitalize;
    }
}

section:nth-of-type(3) .text h2 {
    display: block;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}

section:nth-of-type(3) .text ul li {
    list-style: none;
}

section:nth-of-type(3) .flex {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

section:nth-of-type(3) .flex {
    display: flex;
}

section:nth-of-type(3) .flex i {
    width: 40px;
}


/* section 4 */

section:nth-of-type(4) ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

section:nth-of-type(4) ul li {
    padding: 10px;
}

section:nth-of-type(4) ul li.active {
    background-color: var(--main-color);
}

section:nth-of-type(4) .all-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

section:nth-of-type(4) .all-images img {
    max-width: 100%;
    transition: 0.3s;
}

section:nth-of-type(4) .all-images .box {
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {
    section:nth-of-type(4) .all-images .box {
        flex-basis: 50%;
    }
}

@media (max-width: 767px) {
    section:nth-of-type(4) .all-images .box {
        flex-basis: 100%;
    }
}

@media (min-width: 1199px) {
    section:nth-of-type(4) .all-images .box {
        flex-basis: 25%;
    }
}

section:nth-of-type(4) .all-images .box .caption {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    font-weight: normal;
    transition: 0.3s;
}

section:nth-of-type(4) .all-images .box:hover .caption {
    bottom: 0;
}

section:nth-of-type(4) .all-images .box:hover img {
    transform: rotate(3deg) scale(1.1)
}

section:nth-of-type(4) .all-images .box .caption p {
    color: var(--main-color);
    padding: 10px;
}

section:nth-of-type(4) button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    border: none;
    padding: 15px 20px;
    color: #fff;
    margin-top: 50px;
}


/* end section 4 */


/* start section 5 */

section:nth-of-type(5) {
    padding-top: 0;
}

section:nth-of-type(5) .all {
    position: relative;
}

section:nth-of-type(5) .all video {
    width: 100%;
}

section:nth-of-type(5) .all::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /60%);
}

section:nth-of-type(5) .all::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: var(--secondary-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section:nth-of-type(5) .all .text {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

section:nth-of-type(5) .all .text h3,
button {
    text-transform: capitalize;
    color: #fff;
}

section:nth-of-type(5) .all .text h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 25px;
}

section:nth-of-type(5) .all .text p {
    color: #fff;
    margin-bottom: 5px;
}
section:nth-of-type(5) .all .text a {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

@media(max-width:767px) {
    section:nth-of-type(5) .all::after {
        padding: 30px 0;
        height: 100%;
        --secondary-color: rgb(15 116 143 / 40%);
    }
    section:nth-of-type(5) .all::before {
        height: 100%;
    }
    section:nth-of-type(5) .all .text h3 {
        font-size: 15px;
    }
}

section:nth-of-type(5) .all button {
    background-color: #000;
    border: none;
    padding: 12px 25px;
    text-transform: uppercase;
}


/* end section 5 */


/* strart section 6 */

section:nth-of-type(6) {
    padding-top: 0;
}

section:nth-of-type(6) .about {
    text-align: center;
    overflow: hidden;
}

section:nth-of-type(6) .about img {
    position: relative;
    max-width: 100%;
    bottom: -120px;
    margin-top: -120px;
}

@media(max-width:767px) {
    section:nth-of-type(6) .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}


/* end part */

section:nth-of-type(6) .services {
    position: relative;
    background-image: url(../images/stats.png);
    background-size: cover;
    padding: 100px 0;
    text-align: center;
}

section:nth-of-type(6) .services .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /60%);
}

section:nth-of-type(6) .services img {
    max-width: 100%;
}

section:nth-of-type(6) .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 4;
}

section:nth-of-type(6) .box {
    color: #fff;
    background-color: var(--secondary-color);
    padding: 50px;
}

@media(max-width:767px) {
    section:nth-of-type(6) .box {
        flex-basis: 100%;
    }
}

@media(min-width:768px) {
    section:nth-of-type(6) .box {
        flex-basis: 50%;
    }
}

@media(min-width:992px) {
    section:nth-of-type(6) .box {
        flex-basis: 25%;
    }
}

section:nth-of-type(6) .box i {
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}

section:nth-of-type(6) .box .number {
    font-size: 50px;
    font-weight: bold;
}

section:nth-of-type(6) .box p {
    padding: 15px 0;
}

section:nth-of-type(6) .box i::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 20px solid #000;
    background-color: #000;
    z-index: -1;
}


/* end section 6 */


/* start section 7 */

.all-content .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.all-content .container .content {
    position: relative;
}

.all-content .container .content .main-text {
    text-align: center;
    margin-bottom: 30px;
}

.all-content .container .content .main-text h3 {
    font-weight: normal;
    text-transform: uppercase;
}

.all-content .container .content .main-text p {
    width: 500px;
    line-height: 1.8;
    color: var(--third-color);
}

.all-content .container .image .text p {
    width: 400px;
    line-height: 1.8;
    padding: 0;
}

.all-content .container .content .text span {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: var(--third-color);
}

.all-content .container .image {
    display: flex;
    align-items: center;
}

.all-content .container .image img {
    width: 100px;
    border-radius: 50%;
}

@media(max-width:767px) {
    .all-content .container .image {
        display: block;
        text-align: center;
    }
    .all-content .container .image img {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .all-content .container .image .text p {
        width: auto;
        text-align: center;
    }
    .all-content .container .content .main-text p {
        width: auto;
    }
}

@media(min-width:992px) {
    .all-content .container .all-content .container .image {
        display: flex;
    }
    .all-content .container .image .text p {
        width: 300px;
        text-align: center;
    }
}

.bullets {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.bullets li {
    list-style: none;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 10px;
}

.bullets li.active {
    background-color: var(--main-color);
}


/* skills */

.all-content .container .main-text {
    text-align: center;
    margin: 40px 0;
}

.all-content .container .main-text h3 {
    font-weight: normal;
    text-transform: uppercase;
}

.all-content .container .main-text p {
    line-height: 1.8;
    color: var(--third-color);
}

.all-content .container .skills .prog-holder {
    margin-bottom: 40px;
}

.all-content .container .skills .prog-holder h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
}

.all-content .container .skills .prog {
    background-color: #ccc;
    height: 30px;
}

.all-content .container .skills .prog span {
    height: 100%;
    display: block;
    background-color: var(--main-color);
    position: relative;
}

.all-content .container .skills .prog span::before {
    content: attr(data-progress);
    position: absolute;
    right: -22px;
    top: -41px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.all-content .container .skills .prog span::after {
    content: "";
    position: absolute;
    border: 8px solid;
    right: -10px;
    top: -13px;
    border-color: #000 transparent transparent transparent;
}

@media(min-width:768px) {
    .all-content .container>div {
        text-align: center;
        margin: 0 auto;
    }
    .all-content .container .image {
        text-align: center;
    }
    .all-content .container .image p {
        margin: auto;
    }
}

@media(min-width:992px) {
    .all-content .container {
        min-width: 973px;
    }
    .all-content .container>div {
        flex-basis: 45%;
        text-align: center;
    }
    .all-content .container .image {
        text-align: center;
    }
}


/* start section 8 */

section:nth-of-type(8) {
    background-image: url(../images/quote.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

section:nth-of-type(8)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /70%);
    z-index: -1;
}

section:nth-of-type(8) .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

section:nth-of-type(8) .container .quote q {
    font-size: 30px;
}

@media(max-width:767px) {
    section:nth-of-type(8) .container {
        left: 0;
        transform: translate(0, -50%);
    }
    section:nth-of-type(8) .container .quote q {
        font-size: 20px;
        left: 0;
    }
}


/* end section 8 */


/* start section 9 */

section:nth-of-type(10) .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 25px;
}

section:nth-of-type(10) .container .Our-Prices {
    background-color: #fcfcfc;
    text-align: center;
}

section:nth-of-type(10) .container .Our-Prices .All {
    border: 1px solid var(--main-color);
    border-left-color: transparent;
    border-right-color: transparent;
    padding-top: 40px;
}

section:nth-of-type(10) .container .Our-Prices .All h3 {
    font-weight: normal;
    text-transform: uppercase;
}

section:nth-of-type(10) .container .Our-Prices .All p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}

section:nth-of-type(10) .container .Our-Prices .All sup {
    font-size: 25px;
}

section:nth-of-type(10) .container .Our-Prices .All span {
    font-size: 60px;
}

section:nth-of-type(10) .container .Our-Prices .Features {
    border: 1px solid var(--main-color);
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

section:nth-of-type(10) .container .Our-Prices .Features ul {
    list-style: none;
}

section:nth-of-type(10) .container .Our-Prices .Features ul li:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
    margin: 15px 40px;
    padding: 20px;
}

section:nth-of-type(10) .container .Our-Prices .Features ul li:last-child {
    padding: 20px;
}

section:nth-of-type(10) .container .Our-Prices a {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid var(--main-color);
    width: fit-content;
    text-decoration: none;
    display: block;
    color: rgb(48, 52, 99);
}

@media(max-width:767px) {
    section:nth-of-type(10) .container .Our-Prices {
        margin-bottom: 30px;
    }
}


/* section 11 */

section:nth-of-type(11) {
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;
    z-index: 1;
}

section:nth-of-type(11)::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /60%);
    z-index: -1;
}

section:nth-of-type(11) .container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media(max-width:991px) {
    section:nth-of-type(11) .container {
        flex-direction: column;
    }
}

@media(max-width:768px) {
    section:nth-of-type(11) .container form {
        margin: auto;
        width: 100%;
        max-width: 110%;
        flex-basis: 75%;
    }
    section:nth-of-type(11) .container p {
        text-align: center;
    }
    section:nth-of-type(11) .container form input[type="email"] {
        width: calc(100% + 100px);
    }
}

section:nth-of-type(11) .container form {
    display: flex;
    position: relative;
    flex-basis: 50%;
    width: 500px;
    max-width: 100%;
    margin-right: 25px;
}

section:nth-of-type(11) .container form i {
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translate(0, -50%);
    left: 25px;
}

section:nth-of-type(11) .container form input[type="email"] {
    padding: 20px 20px 20px 60px;
    background: none;
    border: 1px solid #fff;
    border-right: none;
    caret-color: var(--main-color);
    width: calc(100% - 120px);
    color: #fff;
}

section:nth-of-type(11) .container form input::placeholder {
    color: #fff;
}

section:nth-of-type(11) form input[type="submit"] {
    background-color: var(--main-color);
    border: none;
    padding: 18px 15px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    margin-left: auto;
    cursor: pointer;
}

section:nth-of-type(11) .container form input[type="email"]:focus,
section:nth-of-type(12) .container form input[type="submit"]:focus {
    outline: none;
}

section:nth-of-type(11) .container p {
    color: #fff;
    flex-basis: 75%;
    line-height: 2;
}

section:nth-of-type(10) .contact-us {
    text-align: center;
}

section:nth-of-type(10) .contact-us p {
    font-size: 20px;
}

section:nth-of-type(10) .contact-us a {
    padding: 15px 30px;
    margin: 0 auto;
    border: 1px solid var(--main-color);
    width: fit-content;
    text-decoration: none;
    display: block;
    color: rgb(48, 52, 99);
    background-color: var(--main-color);
    color: #fff;
}


/* section 12 */

section:nth-of-type(12) .Content {
    display: flex;
    column-gap: 5%;
}

@media(max-width:767px) {
    section:nth-of-type(12) .Content {
        display: flex;
        flex-direction: column;
    }
}

section:nth-of-type(12) form {
    flex-basis: 70%;
}

section:nth-of-type(12) form .main-input {
    display: block;
    margin-bottom: 30px;
    padding: 20px 20px;
    border: 1px solid #ccc;
    width: 100%;
}

section:nth-of-type(12) form input[type="submit"] {
    background-color: var(--main-color);
    border: none;
    padding: 18px 15px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    margin-left: auto;
    cursor: pointer;
    margin-top: 50px;
}

@media(max-width:768px) {
    section:nth-of-type(12) form input[type="submit"] {
        margin: auto;
    }
}

section:nth-of-type(12) form .main-input:focus {
    outline: none;
}

section:nth-of-type(12) form input:last-child {
    display: flex;
    justify-content: flex-end;
}

section:nth-of-type(12) form textarea.main-input {
    height: 200px;
}

section:nth-of-type(12) .Our-Place {
    flex-basis: 25%;
}

@media(max-width:767px) {
    section:nth-of-type(12) .Our-Place {
        order: -1;
        text-align: center;
    }
}

section:nth-of-type(12) .container .Our-Place .call-us {
    margin-bottom: 50px;
}

section:nth-of-type(12) .container .Our-Place h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 30px;
}

section:nth-of-type(12) .container .Our-Place p {
    padding: 10px 0;
    color: var(--third-color);
}

@media(max-width:767px) {
    section:nth-of-type(12) .container .Our-Place address {
        margin-bottom: 40px;
    }
}

section:nth-of-type(12) .container .Our-Place address ul {
    list-style: none;
}

section:nth-of-type(12) .container .Our-Place address h3 {
    font-style: normal;
}

section:nth-of-type(12) .container .Our-Place address li {
    color: var(--third-color);
    padding: 10px 0;
    font-style: italic;
}

section:nth-of-type(12) .container .Our-Place li:last-child {
    text-transform: uppercase;
}


/* footer */

footer {
    padding: 60px 0;
    background-image: url(/images/subscribe.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}

footer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(0 0 0 /62%);
    z-index: -1;
}

footer .social-icons {
    color: #fff;
}

footer img {
    margin-bottom: 30px;
}

footer h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
    border-bottom: 1px solid #fff;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
}

footer span {
    color: var(--main-color);
    margin-top: 30px;
    font-weight: bold;
}

footer p {
    color: #fff;
    padding-bottom: 0;
}

footer .social-icons {
    margin-top: 30px;
    padding: 10px 15px;
}

footer .social-icons i {
    margin-right: 30px;
    margin-bottom: 30px;
}

footer .social-icons i:last-child {
    margin-right: 0;
}
/*  */